html {
  font-family: 'Libre Franklin', sans-serif;
}

.position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.font-libre-300 {
  font-weight: 300;
  font-size: 33px;
  color:hsl(0, 0%, 59%)
}

.font-libre-3002 {
  font-weight: 300;
  font-size: 14px;
}

.form-control {
  font-weight: 300;
  font-size: 11px;
  outline: none;
  border-radius: 45px;
  padding: 1em;
  text-decoration: none;
  text-align: left;
  display: inline-block;
}

.button {
  font-weight: 600;
  font-size: 11px;
  color: white;  
  background-color: hsla(228, 100%, 68.75%, 1);
  border: none;
  border-radius: 45px;
  padding: 1em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.font-libre-600 {
  font-weight: 600;
  font-size: 33px;
}

.attribution{
  font-weight: 300;
  font-size: 8px;
  color:hsl(0, 0%, 59%)
}