html {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}

.page-flexbox {   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin: 30px;
  margin-top: 60px;
  width: 60px; 
}

.heading {
  font-weight: 300;
  font-size: 33px;
  font-style: normal;
  color:hsl(0, 0%, 59%)
}

.heading-bold {
  font-weight: 600;
  font-size: 33px;
}

.sub-heading {
  font-weight: 300;
  font-size: 14px;
  margin: 12px;
}

.grid-on-buttons {  
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.form-control {
  font-weight: 300;
  font-size: 11px;
  border:  0.5px solid  hsla(228, 100%, 68.75%, 0.42);
  border-radius: 45px;
  padding: 1em;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  width: 255px;
  margin: 0.5em;
}

.button {
  font-weight: 600;
  font-size: 11px;
  color: white;  
  background-color: hsla(228, 100%, 68.75%, 1);
  border: none;
  border-radius: 45px;
  padding: 1em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 130px;
  margin: 0.5em;
}

.button:hover {
  background-color: rgb(125, 146, 227);
}

.hiddenText {
  font-size: 8px; 
  font-style: italic; 
  color: red; 
  display: inline;
  visibility: hidden;  
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 20px;
}

.body-photo {
  margin-top: 30px;
  width: 435px; 
}

.social-logo {
  margin-top: 40px;
  margin-bottom: 15px;
}

.facebook {
  width: 23px;
}

.twitter {
  width: 23px;
}

.instagram {
  width: 23px;
}
.attribution{
  font-weight: 300;
  font-size: 8px;
  color:hsl(0, 0%, 59%)
}


@media screen and (max-width: 507px) {
  .heading {font-size: 22px;}
  .heading-bold {font-size: 22px;}
  .sub-heading {font-size: 11px;}
  .grid-on-buttons {display:flex; flex-direction: column; align-items: center;}
  .form-control {text-indent: 10px;}
  .button {width: 278px;}
  .hiddenText {display: flex; margin-left: unset;}
  .body-photo {width: 300px;}
  .facebook {width: 30px;}
  .twitter {width: 30px;}
  .instagram {width: 30px;}
}